.services-section {
background-image: url(/images/services-background-mob.png);
background-repeat: no-repeat;
background-size: cover;
background-position: 50%;
background-color: #111319;
border: 1px solid #000000;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.services-section__span {
width: 60px;
height: 1px;
background: rgba(157, 164, 189, 0.6);
margin-right: 20px;
}

.services-section__pretitle {
display: flex;
align-items: center;
font-family: 'Open Sans';
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;
color: rgba(157, 164, 189, 0.6);
margin-bottom: 20px;
}

.services-section__title {
font-family: 'Raleway';
font-weight: 700;
font-size: 39px;
line-height: 1.175;
letter-spacing: 0.04em;
color: #FFFFFF;
margin-bottom: 44px;

}


.services-section__table {
background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
padding: 30px;
}

.services-section__item {
display: flex;
align-items: baseline;
font-family: 'Open Sans';
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.02em;
color: #9DA4BD;

&:not(:last-child){
margin-bottom: 20px;
}
}

.services-section__item::before{
content: "";
border-bottom: 1px solid rgba(157,164,189,.12);
flex-grow: 1;
order: 2;
height: 1px;
}

.services-section__list .value {
order: 3;
}

.services-section__button {
display: block;
font-family: 'Open Sans';
font-weight: 600;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.09em;
text-transform: uppercase;
color: #FFFFFF;
background-color: transparent;
width: 160px;
height: 40px;
border: 1px solid #FF6C00;
border-radius: 25px;
margin: 56px auto 0;
}